# Applications
APP_ENV = development
APP_NAME = Object Detection and Tracking

# Datapath

INPUT_PATH = inputs/videos
OUTPUT_PATH = outputs/videos
MODEL_PATH = models

# Detector
DETECTOR_TYPE = yolo26n
DETECTOR_CONF_THRESHOLD = 0
DETECTOR_IOU_THRESHOLD = 0
DETECTOR_MAX_DET = null
DETECTOR_DEVICE = 0 
DETECTOR_CLASSES = null

#Saver
SAVER_SAVE_IMAGE = false
SAVER_SAVE_DETECTIONS = false
SAVER_SAVE_CROPS = false

# Tracker
TRACKER_TYPE = bytetrack
